/*Google Font: Space Grotesk */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* CSS Variables */
:root {

--brand-font: "Space Grotesk", sans-serif;
--brand-dark: #181819 ; /* erie black*/
--brand-dgrey: #3B3B3B ; /* dark grey */
--brand-yellow: #E19D1F ; /* mustard */
--brand-lgrey: #C0C0C0 ; /* light grey */
}

/* Default overrides */
* {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: var(--brand-font);
    background-color: var(--brand-dgrey);
}

    /* Link styles */
a {
    text-decoration: none;
    color: var(--brand-yellow)
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--brand-lgrey);
}

/* Navigation */
 nav {
    background-color: var(--brand-dark);
    color: var(--brand-yellow);
    display: flex;
    justify-content:  space-between;
    align-items: center;
    

 }

 #nav-toggle-icon {
    font-size: 2.5rem;
    padding: 0 1rem;
 }

 nav ul {
    list-style: none; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 55px;
    padding: 0.5rem 0;
    background-color: rgb(24, 24, 25, 0.7);
    z-index: 99;
    
    
 }
 
 nav ul li {
    font-size: 2rem;
 }

#nav-toggle {
    display: none;
}

#nav-toggle:checked ul {
    display: none;
}

/* Header */
#bg-img {
    background: url(../images/bike-pals-hero.png)no-repeat center center/cover;
    height: 700px;
    width: 100%;
    max-width: 820px;
    position: absolute;
    z-index: 1;

}

/*  Media queries */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
}

/* Large devices *small laptops, 992px and up) */
@media screen and (min-width: 992px) {
}

/*  XL devices *laptops, 1200px and up) */
@media screen and (min-width: 1200px) {
}