/*Google Font: Space Grotesk */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');


/* CSS Variables */
:root {

    --brand-font: "Space Grotesk", sans-serif;
    --brand-dark: #181819;
    /* erie black*/
    --brand-dgrey: #3B3B3B;
    /* dark grey */
    --brand-yellow: #E19D1F;
    /* mustard */
    --brand-lgrey: #C0C0C0;
    /* light grey */
}



/* Global styles */
body {
    font-family: var(--brand-font);
    background-color: var(--brand-dgrey);
}

/* Link styles */
a {
    text-decoration: none;
    color: var(--brand-yellow)
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--brand-lgrey);
}

/* Heading styles */
h3 {
    padding: 0.5rem;
}

/* Button styles */
.button {
    color: var(--brand-dark);
    background-color: var(--brand-yellow);
    border: 2px solid var(--brand-yellow);
    border-radius: 5px;
    padding: 0.375rem 0.75rem;
    margin: 1.5rem 0;
    font-weight: bold;
    white-space: nowrap;
}

.button:hover {
    color: var(--brand-yellow);
    background-color: var(--brand-dark);
    text-decoration: none;
}

.button:active {
    color: var(--brand-dark);
    background-color: var(--brand-lgrey);
    border: 2px solid var(--brand-lgrey);
}

/* Colored Text */

.yellow-text {
    color: var(--brand-yellow);
}

.grey-text {
    color: var(--brand-lgrey);
}

.dark-text {
    color: var(--brand-dark);
}

/* Background Colors */

.bg-brand-dark {
    background-color: var(--brand-dark);
}

/* Navigation */
nav {
    background-color: var(--brand-dark);
    color: var(--brand-yellow);
    display: grid;
    grid-template-columns: 2.5rem auto 2.5rem;
    height: 3.5rem;
    position:fixed;
    top:0;
    left:0;
    right:0;
}

/* Hide Checkbox */
#nav-toggle {
    display: none;
}

/* Menu Bar Icon style */
#nav-toggle-icon {
    font-size: 2.5rem;
    padding-left: 0.5rem;
    z-index: 99;
}

/* Brand Logo Style */
#nav-logo {
    display: flex;
    align-self: center;
    justify-content: center;
    z-index: 99;
}

/* Menu Options Style */
#nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    height: auto;
    position: absolute;
    top: 2rem;
    background-color: rgb(24, 24, 25, 0.8);
    /*converted brand-dark to set opacity */
    visibility: hidden;
    opacity: 0;
    transition: all, 0.5s;
    /*animation*/
    z-index: 98;
    padding-left: 0;
    margin-bottom: 0;
}

#nav-toggle:checked~ul {
    visibility: visible;
    opacity: 1;
    top: 3.5rem;
}

#nav-list li {
    font-size: 2rem;
    text-align: center;
    margin: 1.4rem 0;
}

/* Active navbar menu option style: */
.active {
    color: var(--brand-lgrey);
}

.active-button {
    color: var(--brand-dark);
    background-color: var(--brand-lgrey);
    border: 2px solid var(--brand-lgrey);
    border: 2px solid var(--brand-lgrey);
    border-radius: 5px;
    padding: 0.375rem 0.75rem;
    margin: 1.5rem 0;
    font-weight: bold;
    white-space: nowrap;
}

/* Header - Hero Section*/
#hero-img {
    background: url(../images/bike-pals-hero-xs.webp)no-repeat center center;
    height: 463px;
    width: 100%;
}

#mission-statement {
    background-color: var(--brand-dark);
    text-align: center;
    font-size: 80%;
    padding: 1rem;
}

/* Main  - Services section */

#services h2 {
    border-top: 3px solid var(--brand-yellow);
    border-bottom: 3px solid var(--brand-yellow);
    text-shadow: 0 1px var(--brand-dark);
    margin-bottom: 1rem;
}

#services .card {
    background-color: var(--brand-dark);
    border-radius: 5px;
    padding: 1rem 1.2rem 0 1.2rem;
    margin: auto;
}

#services .card-img-top {
    border-radius: 5px;
}

#services .card-body {
    padding: 1rem 0;
}

/* Footer */

footer {
    background-color: var(--brand-dark);
    color: var(--brand-lgrey);
}

#contact-us p {
    padding: 0.3rem 0;
    margin-bottom: 0.5rem;
}

/* Opening Hours table styles */
#contact .table * {
    background-color: transparent;
}

#contact .table thead * {
    color: var(--brand-yellow);
}

#contact .table tbody * {
    color: var(--brand-lgrey);
}

#map {
    width: 90%;
    border: 0;
}

/* Success */

#success, .push-down {
    position: relative;
    z-index: -1;
    top: 56px;
}

/*  Media queries */

/* Large Mobiles devices (tablets, 576px and up) */
@media screen and (min-width: 576px) {
    #hero-img {
        background: url(../images/bike-pals-hero-sm.webp)no-repeat center center;}
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

    /* Navigation */
    /* Hide Menu Bar Icon */
    #nav-toggle-icon {
        visibility: hidden;
        display: none;
    }

    nav {
        display: flex;
        align-items: flex-start;
        padding: 0.25rem 0.25rem;
    }

    #nav-list {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        visibility: visible;
        opacity: 1;
        top: 0;
        z-index: 99;
        position: relative;
        background-color: transparent;
        padding: 0;
    }

    #nav-list li {
        font-size: 1.2rem;
        padding: 0 0.5rem;
        margin: 0;
        align-items: center;
    }

    #nav-list .button {
        margin: 0;
    }

    /* Header - Hero Section*/
    #hero-img {
        background: url(../images/bike-pals-hero-md.webp)no-repeat center center;
    }
    #mission-statement {

        background-color: rgb(24, 24, 25, 0.9);
        /*converted brand-dark to set opacity */
        text-align: end;
        position: absolute;
        top: 260px;
        max-height: 240px;
        right: 0px;
        width: 85%;
        padding: 0.25rem 0.5rem 0.25rem 2rem;
        margin: 1rem 0;
    }

    /* Main  - Services section */
    #repairs {
        order: 1;
    }

    #bikes {
        order: 3;
    }

    #parts {
        order: 4;
    }

    #stand {
        order: 2;
    }

    /* Footer */
    #social-media {
        order: 1;
    }

    #opening-hours {
        order: 3;
    }

    #contact-us {
        order: 2;
    }

    #find-us {
        order: 4;
    }
}

/* Large devices *small laptops, 992px and up) */
@media screen and (min-width: 992px) {

    /* Footer */
    #social-media {
        order: 1;
    }

    #opening-hours {
        order: 2;
    }

    #contact-us {
        order: 3;
    }

    #find-us {
        order: 4;
    }

    /* Map sizing */

    #map {
        max-width: 300px;
    }
}


/*  XL devices *laptops, 1200px and up) */
@media screen and (min-width: 1200px) {

    /* Header - Hero Section*/
    #hero-img {
        background: url(../images/bike-pals-hero-lg.webp)no-repeat center center;
        height: 988px;
    }

    #mission-statement {
        top: 750px;
        max-height: 350px;
        width: 60%;
    }

    /* Main  - Services section */
    #repairs {
        order: 1;
    }

    #bikes {
        order: 2;
    }

    #parts {
        order: 3;
    }

    #stand {
        order: 4;
    }

}

/*  XXXL devices 2100px and up) */
@media screen and (min-width: 2100px) {
    #mission-statement {
        width: 40%;
    }
}