/*Google Font: Space Grotesk */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* CSS Variables */
:root {

--brand-font: "Space Grotesk", sans-serif;
--brand-dark: #181819 ; /* erie black*/
--brand-dgrey: #3B3B3B ; /* dark grey */
--brand-yellow: #E19D1F ; /* mustard */
--brand-lgrey: #C0C0C0 ; /* light grey */
}

/* Global styles */
body {
    font-family: var(--brand-font);
    background-color: var(--brand-dark);
}

    /* Link styles */
a {
    text-decoration: none;
    color: var(--brand-yellow)
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--brand-lgrey);
}

/* Navigation */
 nav {
    background-color: var(--brand-dark);
    color: var(--brand-yellow);

 }

 #nav-toggle-icon {
    font-size: 2.5rem;
 }
 nav ul {
    list-style: none;  
 }
 
 nav ul li {
    font-size: 2rem;
 }



/*  Media queries */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
}

/* Large devices *small laptops, 992px and up) */
@media screen and (min-width: 992px) {
}

/*  XL devices *laptops, 1200px and up) */
@media screen and (min-width: 1200px) {
}